/* The dropdown container */
/* contenedor de categorias */
.categories {
    position: relative;
    z-index: 110;
    background-color: #f8f8f8;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-categories{
}
/* Item principal*/
.mega-dropdown {
    position: static !important;
}

.mega-dropdown:hover, .mega-dropdown:focus, .mega-dropdown > a:hover{
    text-decoration: none !important;
}

/*.mega-dropdown:hover .mega-dropdown-menu {*/
.category-show {
    display: block;
    z-index: 1100;
}

.container-show{
    display: block !important;
}

/* Contenedor*/
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    /*display: none;*/
    column-count: 3;
    column-gap: 10px;
    /*max-width: 80%;*/
    /*margin: 0 10%;*/
}

/* Ultima categoria*/
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    font-weight: normal;
    white-space: normal;
    padding: 4px 0;
    font-size: 11px!important;
    height: auto;
}

.mega-dropdown-menu > li > a {
    font-size: 12px;
    font-weight: 700;
    padding: 2px 0px;
}

.container-opacacity{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}
